<h1>Juego de piedra, papel o tijera</h1>

<div>
  Score Jugador: <%= @scoreJug %>
</div>

<div>
  Score CPU: <%= @scoreCPU %>
</div>

<div>
<%= @resultado %>
</div>



<form action="/" method="post">
<select name="select_jugador1">
  <option value="Piedra">Piedra</option>
  <option value="Papel">Papel</option>
  <option value="Tijera">Tijera</option>
</select>

<button name="jugar" type="submit" >JUGAR</button>

</form>
